/* Boilerplate for CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root{
    --c-dark: #484A58;
    --c-light: #C4C4C4;
    --c-brand: #7C8095;
}


/* Global CSS */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--c-dark);
    color: var(--c-light);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navigation bar */

.navbar {
    width: 100%;
    height: 10vh;
    background-color: var(--c-dark); 
    color: var(--c-light); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.navbar .logo {
    color: var(--c-light);
    font-size: 24px;
    font-weight: 600;
}

.navbar .logo :hover {
    color: var(--c-brand);
}

.navbar .navLinks ul{
    width: 300px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

/* Hero section*/

.hero {
    background-color: var(--c-brand);
    width: 100%;
    height: 90vh;
}

.hero .overlay {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .overlay .heading-h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero .overlay .intro-p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero .overlay .btn {
    background-color: var(--c-dark);
    padding: 15px 30px; 
    border-radius: 4px;
    color: var(--c-light);
    font-weight: 600;
}

/* Service section */

.services{
    height: 450px;
    background-color:rgb(231, 107, 62) ;
    display: flex;
    justify-content: center;
    text-align: center;
}

.first-box, .second-box, .third-box {
    float:left;
    width:300px;
    height:300px;
    background-color:white;
    border:solid black;
    margin: 5rem;
}

/* FAQ section */

.faq{
    height: 450px;
    background-color: rgb(109, 212, 109);
}

/* footer */

footer{
    background-color: rgba(36, 28, 32, 0.945);
   height: 4rem;
   color: beige;
}